<a routerLink="/login" routerLinkActive="active">Login</a>
<a routerLink="/crisis-center" >Crisis-center</a>
<a routerLink="/landing">Landing Page</a>
<a routerLink="/material">Material Design</a>
<a routerLink="/heroes">Heroes</a>
<router-outlet></router-outlet> 
<form #f="ngForm" novalidate>
    <div class="row">
      <div class="col-md-6">
          <div class="col-md-6">
              <div class="row" style="margin-top: 5px;">
                  <div class="col-md-4">
                      <label>First Name</label>
                  </div>    
                  <div class="col-md-8">
                      <input type="text" class="form-control" name="fname" [(ngModel)]="user.fname">
                  </div>   
              </div>
              <div class="row" style="margin-top: 5px;">
                  <div class="col-md-4">
                      <label>Last Name</label>
                  </div>    
                  <div class="col-md-8">
                      <input type="text" class="form-control form-control-sm" name="lname" [(ngModel)]="user.lname">
                  </div>    
              </div>
              <div class="row" style="margin-top: 5px;">
                  <div class="col-md-4">
                      <label>Email</label>
                  </div>    
                  <div class="col-md-8">
                      <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="user.email">
                  </div>    
              </div>
              <div class="row" style="margin-top: 5px;">
                  <div class="col-md-4">
                      <label>Country</label>
                  </div>    
                  <div class="col-md-8">
                      <input type="text" class="form-control" name="country" [(ngModel)]="user.country">
                  </div>    
              </div>
          </div>
          <div class="col-md-6">
              <div class="row" style="margin-top: 5px;">
                  <div class="col-md-2">
                      <label>Age</label>
                  </div>    
                  <div class="col-md-8">
                      <input type="number" class="form-control" name="age" [(ngModel)]="user.age">
                  </div>    
              </div>
              <div>
                  <label>Gender</label>
                  <div *ngFor="let gender of genders">
                      <label>
                          <input type="radio" name="gender" [(ngModel)]="user.gender" 
                          [value]="gender.value">
                          {{gender.display}}
                      </label>
                  </div>
              </div> 
              <div>
                  <label>Role</label>
                  <select name="role" [(ngModel)]="user.role">
                      <option *ngFor="let role of roles" [ngValue]="role">  
                      {{role.display}}
                      </option>
                  </select>
              </div> 
              <!--<div>
                  <label>Theme</label>
                  <select name="theme" [(ngModel)]="user.theme">
                      <option *ngFor="let theme of themes" [ngValue]="theme">  
                          {{theme.display}}
                      </option>
                  </select>
              </div>-->
              <!--<div>
                  <label>Topics</label>
                  <select multiple name="topics" [(ngModel)]="user.topics">
                      <option *ngFor="let topic of topics" [value]="topic.value">  
                          {{topic.display}}
                      </option>
                  </select>
              </div>-->
              <div>
                  <label>
                      <input type="checkbox" name="isActive"  [(ngModel)]="user.isActive">
                      Is Active
                  </label>
              </div>
              <!--<div>
                  <input type="hidden" name="toggle" [(ngModel)]="user.toggle">
                  <div>
                      <label>
                          <input type="checkbox"
                              [checked]="user.toggle === toggles[0].value" 
                              (change)="$event.target.checked? (user.toggle =  toggles[0].value) : (user.toggle = toggles[1].value)">
                          {{ toggles[0].display }}
                      </label>
                  </div>
              </div>-->
          </div> 
      </div> 
  </div> 
  <div class="col-md-6">
      <button class="btn btn-primary" type="submit" (click)="onAddList(user); f.reset()">Submit</button>
      <!--<a class="btn btn-info" type="button" (click)="save(f.value, f.valid)">New Page</a>-->
       <a class="btn btn-info" type="button" (click)="getAllUser()">Get Customers</a>
 </div>
</form>

<div class="container">
  <h2>Basic Table</h2>           
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.country}}</td>
      </tr>
    </tbody>
  </table>
</div>
